/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";
@plugin '../hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
/* @custom-variant dark (&:is(.dark *)); */

html, body, main {
  /* font-family: "Inter", sans-serif; */
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.8px;
  background-color: #F5F5F5;
  margin: 0px;
  color: #333;
  overscroll-behavior: none;
  /* height: 100vh; */
  width: 100vw;
  /* max-width: 450px; */
}

button {
  /* font-family: "Inter", sans-serif; */
  font-family: "Instrument Sans", sans-serif;
}
