@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body, main {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.8px;
  background-color: #F5F5F5;
  margin: 0px;
  color: #333;
  overscroll-behavior: none;
  height: 100vh;
  width: 100vw;
}

